{% load static %}

<footer class="mt-auto position-sticky top-100 text-center py-3">
  <div class="container">
  <nav class="navbar navbar-light bg-light d-flex justify-content-between" >
      <div class="ml-3">
        <p class="h5">Наш телефон:</p>
        <div class="alert alert-light">
          <a href="tel:+79080501505">+79080501505</a>
        </div>
      </div>
      <div>
        <p class="h5">Адрес салона-склада:</p>
        <p class="alert alert-light">Город Челябинск, улица Маркса, 131 секция 212</p>
      </div>
      <div>
        <ul class="list-inline d-flex">
          <li class="p-2">
            <a class="social__link social__link--vkontakte">
              <img class="intro__logo-image" alt="Логотип Welcome Sedona." src="{% static 'img/vk.svg' %}" width>
            </a>
            <span class="visually-hidden">ВКонтакте.</span>
          </li>
          <li class="p-2">
            <a class="social__link social__link--telegram">
              <img class="intro__logo-image" alt="Логотип Welcome Sedona." src="{% static 'img/youtube.svg' %}">
            </a>
            <span class="visually-hidden">Телеграмм.</span>
          </li>
          <li class="p-2">
            <a href="https://t.me/atelelenta">
              <img class="intro__logo-image" alt="Логотип Welcome Sedona." src="{% static 'img/teleg.svg' %}" width="36" height="36" >
            </a>
            <span class="visually-hidden">Youtube.</span>
          </li>
          <li class="p-2">
            <a class="social__link social__link--youtube">
              <img class="intro__logo-image" alt="Логотип Welcome Sedona." src="{% static 'img/instagram.svg' %}">
            </a>
            <span class="visually-hidden">Youtube.</span>
          </li>
        </ul>
      </div>
    </ul>
  </nav>
</div>   
  </footer>