{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <!-- Обращаемся через object -->
  <h1>О Нас</h1>
  <article>
    <p>Интернет -магазин Lisla textiles предлагает широкий ассортимент тканей .
Таких как лён,хлопок,Сатин,блэкаут ,бархат и тд;разнообразие тюлевых тканей (батист,елочка,вуаль и тд)
Имеем собственный цех по производству штор и изделий для интерьера.
Цех работает с 2010 года,сотрудничаем с многими салонами штор по всей России .
За это время заработали положительную репутацию.
Территориально находимся в городе Челябинске.
В ассортименте магазина имеется так же фурнитура и шторная лента .
Так же отшиваем комплекты постельного белья из наших тканей по индивидуальным размерам и моделям .
Почему выбирают магазин Lisla textiles:</p>
<ul>
<li>Безупречное качество пошива</li>
<li>Оперативная обработка заказа</li>
<li>Товар в течении 1-2 дня готовится и отправляется заказчику(если конечно не индивидуальный пошив изделия)</li>
<li>Отсутствие пореднеческих наценок -мы работаем напрямую с фабриками</li>
<li>Отсутствие минимального заказа</li>
<li>Несколько форм оплаты</li>
<li>Различные варианты доставки в любой регион РФ</li>
<li>Широкий и постоянно обновляемый ассортимент продукции </li>
</ul>
Нашими клиентами являются физические лица,корпоративные клиенты,ателье,дизайнеры и любители швейного дела !
Добро пожаловать за тканями в розницу и за мелким оптом !
  </article>
  <section class="map">
    <h2 class="visually-hidden">Карта.</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2279.049278860472!2d61.391653976885024!3d55.164913972872206!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c592b54a4b74a1%3A0x5b320e43b5930c14!2z0YPQuy4g0JrQsNGA0LvQsCDQnNCw0YDQutGB0LAsIDEzMSwg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sINCg0L7RgdGB0LjRjywgNDU0MDkx!5e0!3m2!1sru!2sus!4v1721011784034!5m2!1sru!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </section>
{% endblock content %}