{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
  <!-- Обращаемся через object -->
  <h1>Прайс на пошив</h1>
  <table class="table" >
    <caption>Дополнительные элементы и ламбрекены рассчитываются индивидуально</caption>
    <tbody>
      <tr>
        <td scope="col">Пошив тюли за один погонный метр</td>
        <td scope="col">250 руб</td>
      </tr>
      <tr>
        <td >Пошив портьеры за один погонный метр</td>
        <td >300 руб</td>
      </tr>
      <tr>
        <td >Пошив римских штор</td>
        <td >900 руб за кв/м</td>
      </tr>
      <tr>
        <td>Пошив покрывал(ручная работа)</td>
        <td>900 руб кв/м</td>
      </tr>
      <tr>
        <td>Пошив скатертей</td>
        <td>110 руб погонный метр строчки </td>
      </tr>
      <tr>
        <td >Пошив наволочек</td>
        <td >500 руб шт</td>
      </tr>
    </tbody>
  </table>
{% endblock content %}